body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    margin-bottom: 1.5rem;
}

.vote-form .options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.vote-form input[type="radio"] {
    display: none;
}

.vote-form .btn-option {
    background-color: #007BFF;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.vote-form input[type="radio"]:checked + .btn-option {
    background-color: #0056b3;
    transform: scale(1.05);
}

.vote-form .btn-option:hover {
    background-color: #0056b3;
}

.vote-form .btn-submit {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vote-form .btn-submit:hover {
    background-color: #218838;
}
